/*Global*/
body {
  background-color: rgb(40,40,40);
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: 'Oswald', sans-serif;
}

p {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

progress {
  background-color: rgb(21, 196, 129);
  border: 0;
  height: 18px;
  border-radius: 9px;
}


/*Classes*/
#box-header {
  text-align: center;
}

.name-header {
  font-size: 53px;
}

.sub-text-header {
  font-size: 18px;
}

.sub-text-header {
    border: 2px solid rgb(40,40,40);
    margin-top: -40px;

}
/*Glöm inte att designa*/
.nav-bar {
  border: 2px solid rgb(40,40,40); /*gör border osynlig när du designar*/
  width: 600px;
  height: 150px;
  top: 80%;
  left: 50%;
  margin-left: 50px;
  margin-top: -130px;
}

.nav-bar-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(40,40,40);
}

.nav-list {
  float: left;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

.nav-list, a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*Ändrar färgen på menyn när du håller muspekaren över*/
.nav-list a:hover {
  background-color: rgb(21, 196, 129);
}
/*<!-- Social media meny !!TEST!! -->*/
.box-contact-2 {
  border: 2px solid rgb(40,40,40);
  width: 600px;
  height: 150px;
  top: 80%;
  left: 50%;
  margin-left: 1356px;
  margin-top: -139px;
}

.box-contact-2 a {
    float: left;
    text-align: center;
    width: 20%;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.box-contact-2 a:hover {
    background-color: rgb(21, 196, 129);
}

.active {
    background-color: #4CAF50;
}
/*about-me*/
#box-about-me {
  width: 1000px;
  height: 500px;
  padding: 10px;
  margin-top: 130px;
  margin-left: 22%;
  margin-bottom: 38px;
  border: 3.5px solid gray;
}

/*texten i box-about-me*/
.about-me {
  text-align: center;
}

.about-me-header {
  font-size: 36px;
}
/*Spacer*/
#spacer {
  width: 1000px;
  height: 100px;
  padding: 10px;
  margin-top: 180px;
  margin-left: 22%;
  margin-bottom: 5;
  border: 3.5px solid rgb(40,40,40); /*Gör osynlig*/
}

/*Texten/Mönster i my-skills*/
#box-my-skills {
  width: 1000px;
  height: 500px;
  padding: 10px;
  margin-top: 60px;
  margin-left: 22%;
  margin-bottom: 170px;
  border: 3.5px solid gray;
}

.my-skills-header {
  text-align: center;
  font-size: 20px;
}
.skills-header-3{
  text-align: center;
  font-size: 20px;
}

.progress-bar {
  padding-left: 422px;
}
.skills-header-4 {
  text-align: center;
  font-size: 20px;
}
.progress-bar-2 {
  padding-left: 422px;
}

.skills-header-5 {
  text-align: center;
  font-size: 20px;
}

.progress-bar-3 {
  padding-left: 422px;
}

.skills-header-6 {
  text-align: center;
  font-size: 20px;
}

.progress-bar-4 {
  padding-left: 422px;
}
/*Tillbaka till toppen knappen*/
#button-back-to-top {

}
#button-back-to-top a:hover {
    background-color: rgb(21, 196, 129);
}
/*Footer*/
